body, div {
    margin: 0;
    padding: 0;
}

body {
    background: lightgray;
    height: 100%;
    width: 100%;
}

#main {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

#top_banner {
    width: 900px;
    border-bottom: 1px solid #000;
    margin: 10px 0 10px 0;
    padding-bottom: 10px;
    height: 100px;
    background: #366;
    font-size: 45px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: white;
}

#top_banner a {
    color: white;
    text-decoration: none;
    display: block;
    line-height: 120px;
}

#dagger {
    font-size: 80px;
}

#left_menu, #right_menu {
    float: left;
    width: 170px;
    padding: 5px;
    margin-bottom: 10px;
}

#left_menu {
    margin-right: 15px;
    background: #FFCC66;
    padding-left: 0;
}

#right_menu {
    background: lightblue;
    margin-left: 15px;
    padding-right: 0;
}

#bottom_banner {
    clear: both;
    float: bottom;
    background: #CC9933;
    width: 100%;
    border-top: 1px solid #000;
    margin: 10px 0 200px 0;
    height: 35px;
    padding-top: 10px;
}

#content {
    background: white;
    float: left;
    padding: 5px;
    width: 680px;
    margin-bottom: 10px;
}

#content h1 {
    font-size: 18px;
}

#content h2, #content p {
    font-size: 14px;
}

#content div {
    padding: 2px 5px 2px 5px;   
    margin: 4px 0 2px 0;
    height: 140px;
}

#content a#bronze_link, #content a#silver_link, #content a#gold_link {
    text-decoration: none;
    color: black;
}

#content div#bronze {
    background: #a94013;
}
#content div#silver {
    background: #a4a4a4;
}
#content div#gold {
    background: #d4a017;
}

dl {
    clear: both;
}

dt, dd {
    float: left;
    line-height: 25px;
}

dt {
    text-align:right;
    width: 100px;
    margin: 0 10px 10px 0;
    font-size: 14px;
}

dd {
    width: auto;
    margin: 0 0 10px 0;
}

ul#left_menu, ul#right_menu, ul#categories, ul#shop_items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Shopping categories */
ul#categories, ul#shop_items {
    line-height: 25px;
}

ul#categories a, ul#categories a:visited, ul#shop_items a, ul#shop_items a:visited {
    text-decoration: none;
    color: black;
    font-family: Verdana;
    padding: 2px 5px 2px 5px;
    margin: 5px 0 5px 0;
    display: block;
    border: 1px solid black;
}

ul#categories a:hover, ul#shop_items a:hover {
    background: lightgray;
}

/* Left / Right Menu */
ul#left_menu a, ul#left_menu a:visited, ul#right_menu a, ul#right_menu a:visited {
    text-decoration: none;
    color: black;
    background: #e0e0e0;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    font-family: verdana;
    line-height: 22px;
    border: solid 1px #666;
}

ul#left_menu a, ul#left_menu a:visited {
    border-left: none;
}

ul#right_menu a, ul#right_menu a:visited {
    border-right: none;
}

ul#left_menu a:hover, ul#right_menu a:hover {
    background: #ccc;
}

ul#left_menu {
    margin-bottom: 20px;
}
